@import '../vars';

.cards{
    .col-md-4{
        padding: 0 5px;
    }
    .card{
        transition: .2s box-shadow ease-in-out;
        .cards_icon{
            font-size: rem(30);
        }
        &:hover{
            box-shadow: 0 .125rem .55rem rgba(0,0,0,.3)!important;
        }
    }
}